* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1B4B;
    background-color: #FAF5FF;
}

header{
  background-color:#4C1D95;
  color: #1E1B4B;
  text-align: center; 
  padding: 10px;
}

nav{
    margin-top: 10px;
}

nav a{
  display: inline-block; 
  background-color: #7C3AED;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 0px 5px;
  text-decoration: none;
}